#about-page {
  @mixin mQ($px) {
    @media screen and (min-width: $px) {
      @content;
    }
  }

  .___banner-box {
    margin-top: 2rem;
    max-width: 1535px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4%;

    .__container-box {
      width: 100%;
      padding: 36px 32px;
      border-radius: 16px;
      position: relative;
      gap: 40px;
      border: 1px solid rgba(0, 39, 38, 0.4);
      color: #fff;
      margin-bottom: 24px;
      align-items: center;
      z-index: 10;
      background-color: #002726;
      gap: 2rem;

      .__box {
        display: flex;
        gap: 4rem;

        .__left {
          width: 50%;
          .__banner {
            img {
              background-color: #fff;
              width: 100%;
              height: 360px;
              border-radius: 20px;
              object-fit: cover;
            }
          }
        }

        .__right {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h1 {
            font-size: 38px;
            color: #fff;
            margin-bottom: 1rem;
          }

          p {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            margin-bottom: 1rem;
          }

          button {
            width: fit-content;
            margin-top: 1.2rem;
            cursor: pointer;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.25rem;
            border-radius: 9999px;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: #6824d6;
            border: none;
            padding: 0.75rem 2rem;
            text-align: center;
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 500;
            --tw-text-opacity: 1;
            color: white;
            transition-duration: 0.3s;
            background-color: #6824d6;
            animation: scale-up-down 6s infinite;
            overflow: hidden;
            position: relative;
          }
        }
      }
    }
  }

  .__about {
    background-color: #fff;
    margin-top: 0rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    padding: 2rem 4%;
    position: relative;

    .page_title {
      position: absolute;
      top: 30px;
      left: 4%;
      display: inline-block;
      margin-bottom: 0.938em;
      text-transform: uppercase;
      letter-spacing: 0.12rem;
      font-size: 0.8rem;
      background: #ffbb7b;
      color: #5c0404;
      font-weight: bold;
      padding: 10px 30px;
      border-radius: 50px;
    }

    .__left {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        @include mQ(42.5rem) {
          font-size: 3rem;
          // background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1418 125" fill="%23FFBB7B"><path d="M1412.29 72.17c-11.04-5.78-20.07-14.33-85.46-25.24-22.37-3.63-44.69-7.56-67.07-11.04-167.11-22.06-181.65-21.24-304.94-30.56C888.78 1.39 822.57 1.1 756.44 0c-46.63-.11-93.27 1.56-139.89 2.5C365.5 13.55 452.86 7.68 277.94 23.15 202.57 33.32 127.38 45.01 52.07 55.69c-11.23 2.41-22.63 4.17-33.71 7.22C6.1 66.33 5.64 66.19 3.89 67.79c-7.99 5.78-2.98 20.14 8.72 17.5 33.99-9.47 32.28-8.57 178.06-29.66 4.26 4.48 7.29 3.38 18.42 3.11 13.19-.32 26.38-.53 39.56-1.12 53.51-3.81 106.88-9.62 160.36-13.95 18.41-1.3 36.8-3.12 55.21-4.7 23.21-1.16 46.43-2.29 69.65-3.4 120.28-2.16 85.46-3.13 234.65-1.52 23.42.99 1.57-.18 125.72 6.9 96.61 8.88 200.92 27.94 295.42 46.12 40.87 7.91 116.67 23.2 156.31 36.78 3.81 1.05 8.28-.27 10.51-3.58 3.17-3.72 2.66-9.7-.78-13.13-3.25-3.12-8.14-3.44-12.18-5.08-17.89-5.85-44.19-12.09-63.67-16.56l26.16 3.28c23.02 3.13 46.28 3.92 69.34 6.75 10.8.96 25.43 1.81 34.34-4.39 2.26-1.54 4.86-2.75 6.21-5.27 2.76-4.59 1.13-11.06-3.59-13.68ZM925.4 23.77c37.64 1.4 153.99 10.85 196.64 14.94 45.95 5.51 91.89 11.03 137.76 17.19 24.25 4.77 74.13 11.21 101.72 18.14-11.87-1.15-23.77-1.97-35.65-3.06-133.46-15.9-266.8-33.02-400.47-47.21Z"></path></svg>');
          background-size: 17.5rem;
          background-repeat: no-repeat;
          background-position: 98% 3.375rem;
          padding-bottom: 3rem;
        }
      }

      p {
        margin-bottom: 1rem;
      }

      h2 {
        margin-bottom: 1rem;
      }

      ul {
        li {
          margin-top: 0.6rem;
          display: flex;
          align-items: center;
          gap: 6px;

          i {
            color: #065a97;
            font-size: 24px;
            border-radius: 50px;
          }
        }
      }

      button {
        width: fit-content;
        margin-top: 2rem;
        background-color: #065a97;
        color: #fff;
        border: none;
        outline: none;
        padding: 10px 1.5rem;
        border-radius: 50px;
        font-size: 1rem;
      }
    }

    .__right {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .__core-value {
    padding: 2rem 4%;
    margin-bottom: 4rem;

    .heading {
      margin-bottom: 5rem;

      h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1;
        color: rgb(34 34 34);
        font-weight: 700;
      }

      p {
        width: 900px;
      }
    }

    .__core-value-item {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .bg-blue {
        border: 2px solid #36f543;
        background: #36f543;
      }

      .bg-yellow {
        border: 2px solid #ffc250;
        background: #ffc250;
        color: #000;
      }

      .bg-green {
        .__left {
          border: 2px solid #60c0af;
          background: #60c0af;
        }

        .__title {
          color: #000;
        }
      }

      .bg-maroon {
        border: 2px solid #fe8585;
        background: #fe8585;
      }

      .__value-list {
        display: flex;
        justify-content: start;
        height: 280px;

        .__left {
          height: 250px;
          width: 70%;
          overflow: hidden;
          display: flex;
          align-items: center;
          border-radius: 1.5rem;

          .__icon {
            height: 100%;
            width: 40%;
            background-color: rgb(34 34 34);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .__title {
            padding: 0 2rem;

            h3 {
              font-size: 2.25rem;
              line-height: 2.5rem;
              font-weight: 700;
              margin-bottom: 8px;
            }

            h4 {
              margin-bottom: 0.5rem;
            }

            .__link {
              margin-bottom: 0.5rem;
              display: flex;
              align-items: center;

              i {
                font-size: 22px;
              }

              span {
                font-weight: 500;
              }
            }

            p {
              font-size: 1.125rem;
              line-height: 1.75rem;
            }
          }
        }

        .__right {
          height: 100%;
          display: flex;
          align-items: end;
          svg {
            position: relative;
            left: -50px;
            z-index: -1;
          }
        }
      }

      .__value-list2 {
        display: flex;
        justify-content: end;
        height: 220px;

        .__left {
          height: 250px;
          width: 70%;
          overflow: hidden;
          display: flex;
          align-items: center;
          border-radius: 1.5rem;

          .__icon {
            height: 100%;
            width: 40%;
            background-color: rgb(34 34 34);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .__title {
            padding: 0 2rem;

            h3 {
              font-size: 2.25rem;
              line-height: 2.5rem;
              font-weight: 700;
              margin-bottom: 8px;
            }

            h4 {
              margin-bottom: 0.5rem;
            }

            .__link {
              margin-bottom: 0.5rem;
              display: flex;
              align-items: center;

              i {
                font-size: 22px;
              }

              span {
                font-weight: 500;
              }
            }

            p {
              font-size: 1.125rem;
              line-height: 1.75rem;
            }
          }
        }

        .__right {
          height: 100%;
          display: flex;
          align-items: end;

          svg {
            position: relative;
            left: 50px;
            z-index: -1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #about-page {
    overflow: hidden;

    .___banner-box {
      margin-top: 10px;

      .__container-box {
        padding: 10px;

        .__box {
          flex-direction: column;
          gap: 10px;

          .__left {
            width: 100%;

            .__banner {
              img {
                height: 200px;
              }
            }
          }

          .__right {
            width: 100%;

            .__top {
              padding-bottom: 10px;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }

            h1 {
              margin-top: 10px;
              font-size: 24px;
              text-align: center;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }

    .__about {
      display: flex;
      flex-direction: column;

      .__left {
        h1 {
          font-size: 24px;
          margin-bottom: 1rem;
        }
      }
    }

    .__core-value {
      margin-bottom: 1rem;

      .heading {
        margin-bottom: 2rem;

        h1 {
          font-size: 24px;
        }

        p {
          width: 100%;
        }
      }

      .__core-value-item {
        .__value-list {
          height: 100%;

          .__left {
            width: 100%;
            flex-direction: column;
            height: 100%;

            .__icon {
              width: 100%;
              height: 280px;
            }

            .__title {
              padding: 10px;

              h3 {
                font-size: 2rem;
              }
            }
          }

          .__right {
            display: none;
          }
        }

        .__value-list2 {
          margin-top: 1rem;
          height: 100%;

          .__left {
            width: 100%;
            flex-direction: column;
            height: 100%;

            .__icon {
              height: 280px;
              width: 100%;
            }

            .__title {
              padding: 10px;

              h3 {
                font-size: 2rem;
              }
            }
          }

          .__right {
            display: none;
          }
        }
      }
    }
  }
}
